/mod16/TarefaGenerics/nbproject/private/
/mod16/TarefaGenerics/build/
/mod17/TarefaAnnotation/nbproject/private/
/mod18/TarefaReflaction/nbproject/private/
/mod18/TarefaReflaction/build/
/mod18/TarefaStreams/nbproject/private/
/mod18/TarefaStreams/build/
/mod20/TarefaStreams/build/
/mod20/TarefaStreams/nbproject/private/
/mod21/TarefaTestesParte1/nbproject/private/
/mod21/TarefaTestesParte1/build/
/mod21/TarefaTestesParte1/target/
/mod23/TarefaTestesParte2/target/
/mod23/TarefaTestesParte2/nbproject/
